body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
#all {
  width: 100%;
  height: 100%;
}
.swiper-container,
.swiper-wrapper,
.swiper-slider {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.swiper-slide:nth-child(1) {
  background: red;
}
.swiper-slide:nth-child(2) {
  background: yellow;
}
.swiper-slide:nth-child(3) {
  background: pink;
}
.swiper-slide span {
  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}
